.container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    max-width: 800px;
  }
  
  .container > * {
    flex: 1;
  }
  
  .div#SectionText.input{
    background: #383947;
  }
  
  .container h1 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
  
  .flex {
    padding: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  
  .form label,
  .form p {
    display: block;
    margin-bottom: 0.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5rem;
    
  }

  .form p{
    font-size: 1.2rem;
  }

  .form input {
    background-color: #383947;

  }
  
  .form input,
  .form textarea {
    margin-bottom: 1.5rem;
    background-color: #383947;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 2rem;
    padding: 0.75rem;
    width: 100%;
 
  }
  
 
  
  .heading {
    margin-bottom: 1.5rem;
  }
  
  @media screen and (max-width: 1200px) {
    .container {
      display: block;
    }
    .container > div:first-child {
      border-right: none;
      margin-bottom: 2.5rem;
    }
  }
  
  @media screen and (max-width: 600px) {
    .flex {
      display: block;
    }
    .form input {
      background:#383947 ;
      font-size: 0.85rem;
    }
  }
  