.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  padding: 10px;
  box-shadow: inset 0px 10px 8px 0px #03000048,
    inset 0px -10px 8px 0px #03000048;
  
}

.pop_Img{
  max-width: 90%;
  max-height: 450px;
}
.img{
  max-width: 400px;
  object-fit: cover;
  overflow: hidden;
}
.container h3 {
  background-color: blueviolet;
  border: 1px solid transparent;
  border-radius: 30px;
  font-size: 4rem;
float: right;
margin-top: 3px;
margin-right: 10px;
margin-left: 10px;
cursor: pointer;
transition: transform 0.5s;
  
}

.container h3 :hover {
  transform: scale(1.3);
}

.container .fle{
  display: block;
  padding-bottom: 3px;
}

.body{
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (orientation: portrait) {
  .container {
    margin-top: 25%;
    width: 100%;
    height: max-content;
  }

  .container h3 {
    margin: 0 0 0 0;
    font-size: 1.5rem;
  }

  .body {
    margin-top: 15px;
    display: flex;
    flex-direction: row;

  }
  .pop_Img{
      max-height: 100%;
  }
}
